# rule for subdomain "preview"
RewriteBase /
Options +FollowSymLinks
RewriteCond %{HTTPS_HOST} ^preview\. [NC]
RewriteCond %{HTTPS:Authorization} ^$
RewriteRule ^ - [E=REQUIRE_AUTH:true]

# basic auth
<If "%{ENV:REQUIRE_AUTH} == 'true'">
  AuthType Basic
  AuthName "Authentication Required"
  AuthUserFile /9to5/demo/assets/htdocs/.htpasswd
  Require valid-user
</If>