AuthType Basic
AuthName "Authentication Required"
AuthUserFile /9to5/demo/assets/htdocs/.htpasswd
Require valid-user

# rule for subdomain "preview"
RewriteEngine On
RewriteCond %{HTTP_HOST} ^preview\. [NC]
RewriteRule ^ - [F]