AuthType Basic
AuthName "Passwword Required"
AuthUserFile /assets/.htpasswd
Require valid-user

# rule for subdomain "preview"
RewriteEngine On
RewriteCond %{HTTP_HOST} ^preview\. [NC]
RewriteRule ^ - [F]