:root {
    --color-primary: #804790;
    --color-secondary: #40abf4;
    --color-topic: #40abf4;
    --color-white: #fff;
    --color-dark: #000;
}

/*--------------------------------------------------------------
# News & Social Media Section
--------------------------------------------------------------*/

#news {
    padding: 60px;
    background: url(../../assets/img/event-gallery/05.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#news:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 992px) {
    #news {
        background-attachment: fixed;
    }
}

#news .section-header h2 {
    color: var(--color-secondary);
}

#news .section-header p {
    color: var(--color-white);
}

#news .contact-info {
    text-align: center;
}

#news .contact-info i {
    font-size: 132px;
    display: inline-block;
    color: var(--color-secondary);
    transition: 0.8s;
}

#news .contact-info i:hover {
    font-size: 176px;
    color: var(--color-primary);
    transition: 0.5s;
}

/*--------------------------------------------------------------
# Sponsoring Section
--------------------------------------------------------------*/

#sponsoring {
    padding: 60px;
}

#sponsoring .sponsor-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#sponsoring .sponsor-logo:hover img {
    transform: scale(1.25);
}

#sponsoring img {
    transition: all 0.8s ease-in-out;
}

@media (max-width: 991px) {
    #sponsoring img {
        scale: 1.1;
    }
}