# Redirect HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Basic Auth for subdomain "preview"
<If "req('Host') =~ /^preview\.([^.]+)/">
    AuthType Basic
    AuthName "Authentication Required"
    AuthUserFile /kunden/homepages/33/d961418779/htdocs/pages/9to5/demo/.htpasswd
    Require valid-user
</If>
<Else>
    Require all granted
</Else>